.input_wrapper{ 
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper_content{ 
    width: 60%;
    min-height: 70%;
    height: fit-content;
    border-radius: 60px;
    position: relative;
    background-color: #16151897;
    backdrop-filter: blur(5px);
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quest_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 60px 0 0px 60px;
    background-color: #161518bd;
}
.title_content{ 
    color: white;
   
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    transform: translateY(-50%);
}
.title_content>p{ 
    padding-left: 5%;
}
.quest_body{ 
    font-weight: 500;
    font-size: 25px;
    padding-left: 5%;
}

.quests_item{ 
    width: 60%;
}
.quest_item__content{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.quest_item__content > div{ 
    transition: 400ms;
    cursor: pointer;
    border-radius: 10px;
    width: 60%;
    height: 15%;
    margin: 15px;
    font-size: 20px;
}
.quest_item__text{ 
    min-height: 90px;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
}
.quest_item__text >span{ 
    padding: 5%;
}
.notSelected{ 
    border: 2px solid #323135e8;
}
.selected{ 
    border: 2px solid rgb(118, 139, 146);
}